@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap');

body {
    font-family: 'Kanit', sans-serif;
	color: #5C5C5C;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	background: #fff;
	font-weight:400;	
}
* {
    border: medium none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{	
	 	
}
ul{
    list-style-type:none;
}	
a{
  text-decoration:none;
  outline: none!important;
}
a:hover{
    text-decoration:none;
    outline:none;
} 
textarea{
    resize:none;
}
p {
	line-height: 26px;  
	font-size: 14px;
	font-weight:300;
	color:#535151;
}

/*#######################*/

.head-top{
    background-color: #17703a;
    padding: 10px 0;
}
.top-cntct {
	margin: 0;
	padding: 0;
}
.top-cntct li {
	float: left;
	margin: 0 100px 0 0;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.top-cntct li i {
	margin-right: 8px;
}
.top-cntct li a {
	color: #fff;
}
.top-social {
	margin: 0 30px 0 0;
	padding: 0;
}
.top-social li {
	float: left;
	margin: 0 8px;
}
.top-social li i {
	font-size: 16px;
	color: #fff;
	transition: all ease-in-out 0.3s;
}
.top-social li:hover i {
	color: #adbc2b;
}

/**===== 3.1. Language & Currency =====**/

#language {
	margin:0;
}
#language span{
	color:#4b4b4b;
	font-size:13px;
	text-transform:uppercase;
	font-weight:300;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
#language .btn-link {
	padding: 3px 6px;
	border: none;
	background-color: #e9e9e9;
	border-radius: 0;
	width: 170px;
	text-align: left;
}
#language .btn-link span i {
	float: right;
	margin: 6px 0 0;
}
#language img {
	cursor: pointer;
	margin-right: 5px;
}
.btn-group .dropdown-menu {
	margin: 0;
	border-radius: 0px;
	padding: 0;
	border: none;
	z-index: 1013;
	font-size: 12px;
	width: 170px;
}
.btn-group .dropdown-toggle::after {
	display: none;
}
.btn-group .dropdown-menu {
	min-width: 6rem;
}
#language ul li .language-select {
	color: #333;
	padding: 7px 10px;
	text-align: left;
	font-size: 12px;
}
#language ul li + li .language-select { border-top:1px solid #eee; }
#language:hover span:after {
	clear:both;
	content:' ';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-color:transparent transparent #fff transparent;
	position:absolute;
	z-index:1014;
	border-width:0px 7px 6px 7px;
	bottom:0px;
	left:50%;
	margin:0 0 0 -5px;
}
#language button .btn-link { border:none 0px; }
#language img {
	cursor: pointer;
	margin-right:5px;
}
#language ul li .language-select:hover {
	color:#3e7cb4;
	background:none;
	text-decoration:none;
}

/**===== end Language & Currency =====**/

.head-bttm{
    padding: 8px 0;
}
.logo{
    width: 330px;
}

/*####################### MENU ########################*/

#cssmenu {
	margin: 0;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
	color: #17703a;
	border-bottom: none !important;
}
#cssmenu > ul > li:hover > a::before, #cssmenu > ul > li.active > a::before {
	opacity: 1;
}
#cssmenu > ul > li{
	margin: 0 10px;
}
#cssmenu > ul > li > a {
	padding: 8px 0;
	text-transform: uppercase; 
	font-size: 15px;
	color: #212121;
	font-weight: 500;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	margin: 0;
	display: inline-block;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 9999;
	box-shadow: 1px 0 12px rgba(0,0,0,0.22);
}
#cssmenu ul li:hover > ul > li {
	height: auto;
}
#cssmenu ul ul li a {
	padding: 13px 15px;
	width: 206px;
	font-size: 16px;
	background: #fff;
	text-decoration: none;
	color: #1e1e1e;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	border-bottom: 1px solid #91CAF3;
	text-align: left;
}
#cssmenu > ul > li.has-sub > a::after {
	display: none;
}
#cssmenu ul ul li.has-sub > a::after {
	top: 17px;
	width: 8px;
	height: 8px;
}
#cssmenu ul ul li.has-sub:hover > a::after {
	border-color: #15263f;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
	color: #17703a;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 6px;
}
#cssmenu ul li:hover > a,
#cssmenu ul ul li a:hover {
	color: #17703a;
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0;
}


/*####################### ENd MENU ########################*/

/*############ CAMERA BANNER ##############*/

.camera_bar {
	z-index: 2;
}
.camera_thumbs {
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.camera_thumbs_cont {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.camera_overlayer {
	opacity: .1;
}
.camera_thumbs_cont > div {
	display: none;
}
.camera_bar {
	display: none;
}
.camera_wrap {
	width: 100%;
	margin-bottom:0 !important;
}
.camera_commands {
	display: none;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
	background: none !important;
}
.camera_prev, .camera_next {
  top: 50% !important;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
}
.camera_prev > span {
	background: url(../images/prev-next.png) bottom left no-repeat !important;
	height: 40px;
	width: 40px;
}
.camera_prev {
	left: 20px;
}
.camera_next {
	right: 20px !important;
}
.camera_next > span {
	background:  url(../images/prev-next.png) top right no-repeat !important;
	height: 40px;
	width: 40px;
}
.banner {
	position: relative;
}

/*############# END CAMERA BANNER #############*/

.main-wrap{
    padding: 70px 0;
}
.abt-txt{
	position: relative;
}
.abt-txt::after {
	position: absolute;
	content: "";
	left: -92px;
	bottom: -99px;
	background-size: 100% !important;
	background: url(../../../icon/2.png) no-repeat;
	width: 90px;
	height:  49px;
}
.abt-txt::before {
	position: absolute;
	content: "";
	left: -92px;
	top: -86px;
	background-size: 100% !important;
	background: url(../../../icon/1.png) no-repeat;
	width: 70px;
	height: 149px;
}
.abt-txt h3{
    font-size: 42px;
    font-weight: 700;
    color:#242424;
    margin: 0;
    padding: 0 0 12px;
    position: relative;
    line-height: 50px;
}
.abt-txt h3 span{
    font-size: 62px;
    color:#17703a;
    font-family: 'Great Vibes', cursive;
    display: block;
}
.abt-txt h3:after{
    position: absolute;
    left:0;
    bottom: 0;
    content: "";
    height: 3px;
    width: 70px;
    background-color: #242424;
}
.abt-txt h4{
    font-size: 26px;
    font-weight: 400;
    color:#242424;
    margin: 15px 0 0;
    padding: 0;
}
.abt-txt p{
    font-size: 16px;
    color:#2d3731;
    margin: 15px 0 0;
}
.btn-success {
	color: #fff !important;
	background-color: #166b37 !important;
	border-color: #166b37 !important;
	padding: 8px 20px !important;
	border-radius: 30px !important;
	font-size: 16px !important;
    text-transform: uppercase;
}
.abt-img{
    position: relative;
}
.abt-img img{
    width: 100%;
}
.abt-img::after {
	position: absolute;
	content: "";
	right: -45px;
	bottom: -30px;
	z-index: -1;
	background-size: 100% !important;
	background: url(../images/shape1.png) no-repeat;
	width: 298px;
	height: 148px;
}
.abt-img::before {
	position: absolute;
	content: "";
	right: -92px;
	top: -32px;
	background-size: 100% !important;
	background: url(../images/pattern3.png) no-repeat;
	width: 70px;
	height: 49px;
}
.choose-wrap{
    /* background-color: #17703a; */
	background-image: linear-gradient(rgb(8 52 31), rgb(9 58 17 / 58%)), url(../../../image/banner/1.png);
    padding: 60px 0;
	background-size: cover;
}
.title1{
    font-size: 50px;
    font-weight: 700;
    color:#fff;
    margin: 0;
    padding: 0;
    text-align: center;
}
.choose-bx{
    text-align: center;
}
.choose-bx h3{
    font-size: 22px;
    font-weight: 600;
    color:#fff;
    margin: 15px 0 0;
    padding: 0;
}
.choose-bx p{
    font-size: 16px;
    color:#fff;
    margin: 15px 0 0;
}
.ico-bx{
    display: inline-block;
}
.btn-outline-warning {
	color: #adbc2b !important;
	border-color: #adbc2b !important;
	font-size: 15px;
	border-radius: 30px;
	padding: 8px 25px;
}
.btn-outline-warning:hover,
.btn-outline-warning:focus {
	color: #fff !important;
	background-color: #adbc2b !important;
}

.pro-wrap{
	padding: 165px 0 35px;
	position: relative;
}
/* .pro-wrap:before{
	position: absolute;
	content: "";
	left:0;
	top: 0;
	background-size: 100% !important;
	background: url(../images/shape3.png) no-repeat;
	width: 300px;
	height: 220px;
} */
/* .pro-wrap::after {
	position: absolute;
	content: "";
	right: 0;
	top: 0;
	background-size: 100% !important;
	background: url(../../../icon/s1.png) no-repeat;
	width: 100%;
	height: 172px;
} */
.main-title {
	font-size: 50px;
	font-weight: 700;
	color: #242424;
	margin: 0;
	padding: 0 0 15px;
	position: relative;
	text-align: center;
}
.main-title::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	width: 85px;
	height: 3px;
	background-color: #242424;
}

#horizontalTab {
	
}
h2.resp-accordion {
  color: #217db8;
}
.description-sec .resp-tabs-container {
	background-color: transparent;
	clear: right;
}
ul.resp-tabs-list {
	float: none;
	position: relative;
	text-align: center;
}
.resp-tabs-list li {
	padding: 2px;
	margin: 0 8px !important;
	float: none !important;
}
.resp-tabs-list li.btn-border span{
	font-size: 25px;
	font-weight: 500;
	color: #3f3f3f;
	padding: 12px 30px;
}
.description-sec .resp-tab-content {
	border: none;
}
.resp-tab-active.btn-border span {
	color: #fff !important;
	background-color: transparent !important;
	padding: 12px 30px !important;
}
.resp-tab-active {
	padding: 0 !important;
}
.resp-tab-content {
	padding: 15px 0 0;
	border:none;
}
.resp-tabs-container {
	background-color: transparent;
}
.product-bx {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.prod-img {
	width: 100%;
	height: 285px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.prod-img img {
	width: auto !important;
	max-height: 100%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.share {
	position: absolute;
	left: 14px;
	top: 2px;
	z-index: 9;
}

.product-bx h3 {
	font-size: 18px;
	font-weight: 700;
	color: #242424;
	margin: 15px 0 0;
	padding: 0;
}
.btn-border{
	border-radius: 30px;
	color:#475447;
	display: inline-block;
	background: linear-gradient(to right, #3f9d59, #a6af3f);
	padding: 2px;
}
.btn-border span{
	background: #fff;
	color: #475447;
	padding: 8px 20px;
	border-radius: 30px;
	font-size: 15px;
	font-weight: 500;
	display: block;
}

.slide .owl-nav {
	margin-top: 0;
	position: absolute;
	top: 44%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	width: 100%;
	z-index:999;
}
.slide .owl-stage-outer {
	padding: 38px 0 0;
}
.slide .owl-item {
	padding: 0 15px;
}
.slide .owl-item img {
  display:inline-block;
  width: auto;
}
.slide .owl-nav .owl-prev {
	background: url("../images/prev-next2.png") no-repeat scroll left top;
	border-radius: 0;
	height: 31px;
	margin: 0;
	width: 18px;
	left: -30px;
	position: absolute;
}
.slide .owl-nav .owl-next {
  background: url("../images/prev-next2.png") no-repeat scroll right top;
  border-radius: 0;
  height: 31px;
  margin: 0;
  width: 18px;
  right: -30px;
  position: absolute;
}
.slide .owl-nav [class*="owl-"]:hover {
  background-color: transparent;  
}
.slide .owl-nav [class*="owl-prev"]:hover {
  background:url(../images/prev-next2.png) no-repeat left top;  
}
.slide .owl-nav [class*="owl-next"]:hover {
  background:url(../images/prev-next2.png) no-repeat right top;  
}
.director-wrap{
	padding: 40px 0 70px;
	position: relative;
}
.shape-none:before{
	display: none;
}
.shape-none:after{
	display: none;
}
.director-wrap::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background-size: 100% !important;
	background: url(../images/shape4.png) no-repeat;
	width: 194px;
	height: 89px;
}
.director-wrap::after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background-size: 100% !important;
	background: url(../../../icon/3.png) no-repeat;
	width: 135px;
	height: 122px;
}
.title2{
	font-size: 42px;
	font-weight: 700;
	color: #242424;
	margin: 0;
	padding: 0;
	text-align: center;
}
.main-pera{
	font-size: 18px;
	color: #242424;
	margin: 20px 0 0;
	padding: 0 100px;
	text-align: center;
}
.number-wrap{
	/* background: url(../images/bg1.jpg) no-repeat; */
	background-color: #00ba66;
	background-size: cover;
	padding: 50px 0;
}
.clr-wht{
	color: #fff;
}
.count-bx{
	text-align: center;
}
.count-bx h3{
	font-size: 44px;
	font-weight: 700;
	color: #fff;
	margin: 0;
	padding: 0;
}
.count-bx p{
	font-size: 18px;
	color: #fff;
	margin: 8px 0 0;
}
.testi-wrap{
	background-color: #dfe9e3;
	padding: 60px 0;
}
.testi-title{
	font-size: 60px;
	font-weight: 700;
	color: #242424;
	margin: 0;
	padding: 0;
	text-align: center;
}
.testi-title span{
	font-size: 18px;
	font-weight: 500;
	color: #17703a;
	display: block;
}
.testi-bx{
	background-color: #fff;
	border-radius: 8px;
	padding: 0 20px 35px;
	box-shadow: 0 0 14px #a2afa7;
	text-align: center;
}
.client-img {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	overflow: hidden;
	border: 6px solid #fff;
	display: inline-block;
	margin-top: -62px;
}
.client-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.testi-bx p{
	font-size: 16px;
	color: #333333;
	margin: 8px 0 0;
}
.testi-bx h4 {
	font-size: 18px;
	font-weight: 700;
	color: #222222;
	margin: 15px 0 0;
	padding: 0;
	text-transform: uppercase;
	line-height: 24px;
}
.testi-bx h4 span{
	font-size: 13px;
	font-weight: 400;
	color: #636363;
	display: block;
}
#testi-carousel .owl-stage-outer {
	padding: 63px 0 15px;
}
.news-wrap{
	padding: 165px 0 35px;
	position: relative;
}
.news-wrap::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background-size: 100% !important;
	background: url(../images/shape6.png) no-repeat;
	width: 900px;
	height: 172px;
}
.news-bx{
	text-align: center;
}
.news-img{
	border-radius: 6px;
	overflow: hidden;
}
.news-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-txt {
	border-radius: 6px;
	padding: 20px;
	display: inline-block;
	width: 90%;
	margin-top: -60px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
}
.news-txt h3{
	font-size: 20px;
	font-weight: 700;
	color: #2a2a2a;
	margin: 0;
	padding: 0;
}
.news-txt h4{
	font-size: 15px;
	font-weight: 400;
	color: #292929;
	margin: 8px 0 0;
	padding: 0;
}
.news-txt p{
	font-size: 16px;
	color: #333333;
	margin: 12px 0 0;
}
.news-wrap::after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background-size: 100% !important;
	background: url(../images/shape7.png) no-repeat;
	width: 135px;
	height: 74px;
}
.key-wrap{
	background: url(../images/bg2.jpg) no-repeat;
	background-size: cover;
	padding: 55px 0;
}
.key-bx{
	text-align: center;
}
.key-bx img{
	display: inline-block;
}
.key-bx h4{
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	margin: 10px 0 0;
	padding: 0;
}
.key-bx h4 span{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	display: block;
}
.company-wrap{
	padding: 0px 0 165px;
	position: relative;
}
.company-wrap::before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	background-size: 100% !important;
	background: url(../images/shape8.png) no-repeat;
	width: 810px;
	height: 153px;
}
.company-wrap::after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background-size: 100% !important;
	background: url(../images/shape9.png) no-repeat;
	width: 172px;
	height: 134px;
}
.comp-bx{
	text-align: center;
}
.comp-img{
	display: inline-flex;
	align-items: center;
	height: 141px;
}
.comp-bx h4{
	font-size: 18px;
	font-weight: 500;
	color: #2d3731;
	margin: 10px 0 0;
	padding: 0;
}
.gal-bx{
	margin-bottom: 25px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
.gal-bx img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay {
	position: absolute;
	top: 0;
	width: 0%;
	height: 0%;
	text-align: center;
	background-color: rgba(30,115,63,0.7);
	transition: all ease-in-out 0.3s;
	opacity: 0;
}
.overlay img{
	position:absolute;
	display: inline-block;
	top:50%;
	transform: translateY(-50%);
	left:0;
	right:0;
	margin: 0 auto;
	width: auto !important;
	height: auto !important;
	}
.gal-bx:hover .overlay{
	width: 100%;
	opacity: 1;
	height:100%;
	}
.footer{
	background-color: #1a1a1a;
}
.f-top{
	padding: 40px 0 55px;
	border-bottom: 1px solid #2b2b2b;
}
.newsletter-bx{
	width: 72%;
	margin:0 auto;
	text-align: center;
}
.newsletter-bx h3{
	font-size: 27px;
	font-weight: 500;
	color: #fff;
	margin: 0;
	padding: 0;
}
.newsletter{
	position: relative;
}
.newsletter-bx input[type="email"] {
	background-color: #fff !important;
	border: none;
	color: #4b4b4b;
	font-size: 15px;
	font-weight: 400;
	height: 60px;
	line-height: 1;
	margin: 0;
	outline: medium none;
	padding: 5px 140px 5px 15px;
	width: 100%;
	border-radius: 35px;
}
.newsletter-bx .search-icon {
	background-color: transparent;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0;
	padding: 18px 0;
	color: #166b37;
	position: absolute;
	right: 40px;
	top: 0;
}
.footer-title {
	color: #fff;
	font-size: 23px;
	font-weight: 700;
	margin: 0 0 25px;
	padding: 0;
	text-transform: uppercase;
}
.footer-menu-list {
	margin: 0;
	padding: 0;
}
.footer-menu-list li {
	float: left;
	width: 50%;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 14px;
	padding: 0;
	color: #fff;
}
.footer-menu-list li a {
	color: #fff;
}
.full-wdth li{
	width: 100%;
	float: none;
}
.f-social {
	margin: 20px 0 0;
	padding: 0;
}
.f-social li {
	float: left;
	margin: 0 18px 0 0;
}
.f-social li i {
	font-size: 18px;
	color: #b4b4b4;
	transition: all ease-in-out 0.3s;
}
.f-social li:hover i {
	color: #17703a;
}
.f-bttm {
	padding: 15px 0;
}
.copyright {
	color: #c3c3c3;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.share-social {
	margin: 0;
	padding: 0;
	position: absolute;
	left: -12px;
	top: -35px;
}
.share-social:after {
	content: "";
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	border-top: 8px solid #2199ee;
   border-left: 4px solid transparent; 
   border-right: 4px solid transparent;
   bottom: -8px;
}
.share-social li {
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #3455a1;
	border-right: 1px solid #ccc;
}
.share-social li:nth-child(2) {
	background-color: #2199ee;
}
.share-social li:nth-child(3) {
	background-color: #e80c93;
}
.share-social li i{
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

/* ########### About ############# */

.inr-ban{
	position: relative;
	height: 320px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inr-ban img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.page-title{
	position: absolute;
	font-size: 46px;
	font-weight: 700;
	color: #fff;
	margin: 0;
	padding: 0;
}

/*#########Slider##############*/

.slider {
	padding: 50px 0;
}
.w3layouts_work_grid_left{
	float:left;
	width:50%;
	position:relative;
}
.w3layouts_work_grid_left_pos{
	position: absolute;
    top: 13%;
    right: 0%;
    width: 60%;
}
.w3layouts_work_grid_right{
	float: right;
    width: 50%;
    padding: 5em 17em 5em 5em;
	margin-top:0;
}
.w3layouts_work_grid_left_pos img {
    border: 5px solid #7f56b8;
}
.w3layouts_work_grid_right h4{
	font-size: .9em;
    color: #00ba66;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3layouts_work_grid_right h5{
	font-size:2em;
	color:#212121;
	line-height:1.4em;
	text-transform:capitalize;
}
.w3layouts_work_grid_right p{
	margin:2em 0 0;
	color:#999;
	line-height:2em;
}

.slide{
	position: relative;
}
.carousel-indicators {
	right: 30px;
	bottom: inherit;
	left: inherit;
	display: block;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-indicators [data-bs-target] {
	width: 30px;
	height: 30px;
	border-top: none;
	border-bottom: none;
	line-height: 30px;
	text-indent: inherit;
	text-align: center;
	display: block;
	margin: 5px 0;
	background-color: #17703a;
}
.carousel-indicators [data-bs-target] i{
	font-size: 15px;
	color: #fff;
}


/*############## Responsive ################*/

@media (max-width: 1199.98px) {

.w3layouts_work_grid_right {
	padding: 25px 76px 25px 25px;
}
.w3layouts_work_grid_right h5 {
	font-size: 1.5em;
}


}

@media (max-width: 991.98px) {

.carousel-indicators {
	right: 15px;
}
.w3layouts_work_grid_right {
	padding: 15px 53px 15px 15px;
}
.w3layouts_work_grid_right p {
	margin: 1em 0 0;
}

}

@media (max-width: 767.98px) {

.w3layouts_work_grid_left {
	float: none;
	width: 100%;
}
.w3layouts_work_grid_right {
	float: none;
	width: 88%;
	padding: 15px;
}
.carousel-indicators {
	top: 65%;
}
.w3layouts_work_grid_left_pos {
	right: 3px;
}


}
/*#########End Slider#########*/

/* ########### Product ############# */


.lft-cate-bx h3{
	color: #222222;
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	padding: 0;
	position: relative;
}
.lft-cate-bx h3:after{
	content: "";
	position: absolute;
	right:0;
	top:50%;
	transform: translateY(-50%);
	width: 50%;
	height: 1px;
	background-color: #C4C4C4;
}
.lft-cate-bx ul{
	margin: 15px 0 0;
	padding: 0;
}
.lft-cate-bx ul li{
	font-size: 16px;
	color:#7B7B7B;
	margin: 0 0 10px;
	float: none;
	transition: all ease-in-out 0.3s;
}
.lft-cate-bx ul li:hover{
	color:#C6102E;
}
.sorting-name {
	color: #7B7B7B;
	margin-right: 10px;
	font-size: 17px;
	font-weight: 600;
}
.sorting-result {
	color: #222222;
	margin-right: 10px;
	font-size: 17px;
	font-weight: 600;
}
.short-by select {
	height: 25px;
	text-transform: capitalize;
	border: 1px solid #dedede;
	color: #232323;
}
.shop-breadcrumb {
	margin-top: 25px;
	text-align: center;
	width: 100%;
}
.shop-breadcrumb ul {
	margin: 0;
	padding: 0;
}
.shop-breadcrumb ul li {
	display: inline-block;
	float: none;
}
.shop-breadcrumb ul li a {
	border: 1px solid #bfbebe;
	color: #000;
	font-size: 16px;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #e0e0e0;
	width: 35px;
	border-radius: 50%;
}
.shop-breadcrumb ul li.active a {
	background: #166b37;
	color: #fff;
}

/* ########## product Details ########### */

/* ######### Product Slider with zoom effect ########## */

.glass-case ul li {
    border: unset;
}
.gc-display-area {
	border: 1px solid #ddd !important;
	padding: 0;
}
.gc-display-container {
	width: 100% !important;
	padding: 15px;
}
.gc-display-container img{
	display: inline-block;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:0;
	right:0;
	margin: 0 auto;
	height: 100%;
	width: auto;
}
.gc-display-area,
.gc-display-container {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin: 0 0 8px!important;
    z-index: 1;
}
.gc-thumbs-area {
    width: calc(100% - 0) !important;
    display: inline-block;
}
.gc-thumbs-area {
    position: relative;
    top: auto !important;
    left: 0 !important;
    margin-top: 0;
}
.gc-hide{
	display:none !important;
	opacity:1 !important;
}
.gc-icon-next::before {
	position: absolute;
	top: 50% !important;
	right: 50%;
	content: "›";
}
.gc-icon-prev::before {
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	content: "‹";
}
.glass-case ul li {
	border: 1px solid #ddd;
	margin: 0;
	height: 125px !important;
	padding: 4px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.glass-case ul li img{
	height: 100%;
	width: auto;
}
.glass-case ul li .gc-li-display-container img {
    margin: 0 !important;
    top: auto !important;
    left: auto !important;
}
.align-center {
    text-align: center;
}
.gc-thumbs-area-main {
    position: relative;
    z-index: 1;
}
.gc-thumbs-area-prev,
.gc-thumbs-area-next {
    top: 50%;
}
.gc-thumbs-area-prev {
    left: 0;
}
#glasscase li {
    opacity: 0.5;
    transition: all 400ms ease;
}
#glasscase li:hover {
    opacity: 1;
}
#glasscase li.gc-active {
    opacity: 1;
}
.gc-thumbs-area-next {
    right: 0;
}
.gc-icon-next,
.gc-icon-prev {
    border: none;
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
.gc-icon:hover {
    background: #d93128;
}
.gc-icon-next::before,
.gc-icon-prev::before {
    color: #333;
    top: 50%;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.gc-icon:hover:before {
    color: #fff;
}
.gc-icon:before {
    font-family: "FontAwesome";
}
.gc-icon-prev::before {
    content: "\f104";
}
.gc-icon-next::before {
    content: "\f105";
}
.gc-overlay-area [class*="gc-icon-"] {
    background: #fff;
    border: none;
}
.gc-overlay-area [class*="gc-icon-"]:hover {
    background: #f22a59;
}
.gc-overlay-area .gc-overlay-top-icons [class*="gc-icon-"]:hover {
    background: #fff;
}
.gc-overlay-area .gc-overlay-top-icons .gc-icon {
    height: 35px;
    width: 35px;
}
.gc-overlay-area .gc-overlay-top-icons [class*="gc-icon-"]:before {
    content: "";
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    right: auto;
    top: 50%;
}
.gc-overlay-area .gc-icon-close:before {
    background: url("../images/sprite.png") -53px -1375px;
}
.gc-overlay-area .gc-icon-compress::before {
    background: url("../images/sprite.png") -55px -1441px;
}
.gc-overlay-area .gc-icon-enlarge::before {
    background: url("../images/sprite.png") -55px -1412px;
}
.gc-zoom {
    z-index: 1 !important;
}
.glass-case ul li.gc-active,
.glass-case ul li.gc-active:hover {
    border-color: #f22a59;
}

/* Product Zoom Slider end */


.pro-dtl-txt h2{
	color: #166b37;
	font-size: 34px;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
.pro-dtl-txt h4{
	color: #060606;
	font-size: 20px;
	margin: 15px 0 0;
	padding: 0;
}
.pro-dtl-txt p{
	color: #060606;
	font-size: 15px;
	font-weight: 300;
	margin: 15px 0 0;
}
.pricing-meta {
	font-size: 28px;
	font-weight: 600;
	color: #166b37;
	margin: 15px 0 0;
	padding: 0;
}
.pricing-meta span {
	font-size: 21px;
	font-weight: 400;
	color: #999999;
	text-decoration: line-through;
}
.quantity-lst{
	margin: 15px 0 0;
	padding: 0;
	display: flex;
}
.quantity-lst li{
	padding: 8px 15px;
	font-size: 16px;
	color: #707070;
	margin-right: 8px;
	background-color: transparent;
	border-radius: 3px;
	cursor: pointer;
}
.quantity-lst li.active{
	color: #166b37;
	background-color: #acf2b8;
	cursor: pointer;
}

/*##### rating css ####*/

.star-list{
	margin: 10px 0 0;
}
.lead {
	margin-bottom: 0;
}	
#stars {
	margin-left: 5px;
}	
#stars i{
	margin-right: 5px;
}	
#stars .fa-star{
	color:#ffca00;
}

/*##### end rating css ####*/


#myTabContent {
	padding: 15px 0;
}
.nav-tabs li {
	margin-right: 30px;
}
.nav-tabs .nav-link {
	border: none;
	border-top-left-radius: none;
	border-top-right-radius: none;
	color: #7B7B7B;
	font-size: 20px;
	font-weight: 600;
	padding: 12px 0;
}
.nav-tabs .nav-link.active {
	border: none;
	border-bottom: 2px solid #166b37;
	color: #010101;
}
.tab-head-prt{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #D6D6D6;
	padding-bottom: 25px;
}
.tab-head-prt h4{
	font-size: 20px;
	font-weight: 500;
	color: #222222;
	margin: 8px 0 0;
	padding: 0;
}
.review-bx{
	margin: 25px 0 0;
}
.review-bx h3{
	font-size: 17px;
	font-weight: 500;
	color: #222222;
	margin: 12px 0 0;
	padding: 0;
}
.review-bx h3 span{
	display: block;
	color: #7B7B7B;
}
.review-bx p{
	font-size: 16px;
	color: #222222;
	margin: 12px 0 0;
}

/*##### Contact ####*/

.cntct-bx {
	background-color: #d2f9d9;
	border: 1px solid #166b37;
	padding: 15px;
	text-align: center;
}
.cntct-bx i {
	color:#166b37;
	font-size: 24px;	
}
.cntct-bx h3 {
	font-size: 20px;
	font-weight: 600;
	color: #0C0C0C;
	margin: 15px 0 0;
	padding: 0;
}
.cntct-bx p {
	font-size: 16px;
	font-weight: 400;
	color: #6B6E75;
	margin: 15px 0 0;
}
.cntct-bx p a{
	color: #166b37;
}


.contact-title {
	font-size: 20px;
	font-weight: 400;
	color: #2E2D2D;
	margin: 0 0 20px;
	padding: 0;
	text-transform: uppercase;
}
.contact-title span {
	color: #166b37;
}
.map-box iframe{
	width: 100%;
	overflow: hidden;
	height: 380px;
	border: none;
	}
.rd-mailform .form-group {
	margin-bottom: 10px;
}
.rd-mailform .form-control {
	border-radius: 0;
	height: 45px;
	border: 1px solid #ADADAD;
}
.rd-mailform textarea.form-control {
	border-radius: 0;
	height: 100px;
}















.jus,.justify{
	text-align: justify !important;
}
.fit{
	object-fit: cover !important;
}
/*  */